
<%= @actor.name %>
<%= @actor.age %>

<h1> All Movies </h1>
<% @actor.movies.each do |movie| %>
<%= movie.name %>
<% end  %>

<h2> <%= "Actors #{@actor.name} has worked with:"%> </h2>

<% @actor.actor_movies.each do |movie| %>
<% movie.actor.name do |actor|  %>
<%= require "pry"; binding.pry %>
  <%= actor.name %>
  <% end %>
<% end %>
